body {
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-color: #5580c9cc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  background-color: #5580c9cc;
  color: rgb(247, 250, 252);
}
